
<nav class="navbar" id="myTopnav">
  <a (click)="onSelect()" class="icon">
    <img src="https://cutcodedown.com/images/burgerIcon.png" />
  </a>
	<a class="gametrack" href="">Gametraker</a>
	<ul class = "nav">
		<li>
			<a class="nav-link-act" href="/jeu">Explorer</a>
		</li>
		<li>
			<a class="nav-link" href="">Mes jeux</a>
		</li>
		<li>
			<a class="nav-link" href="">Connexion</a>
		</li>
		<div class ="search">
		<li>
			<app-game-search></app-game-search>
		</li>
		</div>
	</ul>



</nav>


