.jeu-case {

float:left;

margin-bottom:50px;
text-align:center;
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;

  vertical-align:middle; 
  box-sizing: border-box;
  
}

img {
width:300px;


}

.jeu{

padding-left: 50px;
padding-right: 50px;
}

h2{
font-size : 1.2rem;

}

@media only screen and (max-width: 768px){ 
img {
display:none;
}
}
@media only screen and (max-width: 1200px){ 
.jeu-case {
margin-left: -20px;
}
}